* {
  margin:0;
  padding:0;
  box-sizing:border-box;

}

h1 {
  color: white;
}

body {
  background-image: url(https://www.themoviedb.org/t/p/original/6pSZElRTDF4dFb4FsVNc5niyuKy.jpg);
}

.busca {
margin:15px;
}



btn {
  font-family: sans-serif;
  font-size:18px;
  color: rgb(0, 140, 255);
}

